* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  height: 100vh;
}

.slider__image {
  display: none;
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.btn {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: whitesmoke;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.prev {
  left: 2rem;
}

.next {
  right: 2rem;
}
